@model IEnumerable<Sedziowanie.Models.Mecz>

@{
    ViewData["Title"] = "Lista Meczów";
}

<style>
    body {
        background-image: url('/tlo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Arial, sans-serif;
    }

    h2 {
        color: #fff;
    }

    table {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 10px;
    }
</style>

<h2>Lista Meczów</h2>

<table class="table">
    <thead>
        <tr>
            <th>Numer Meczu</th>
            <th>Data</th>
            <th>Rozgrywki</th>
            <th>Gospodarz</th>
            <th>Gość</th>
            <th>Sędzia I</th>
            <th>Sędzia II</th>
            <th>Sędzia Sekretarz</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var mecz in Model)
        {
            <tr>
                <td>@mecz.NumerMeczu</td>
                <td>@mecz.Data.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@mecz.Rozgrywki?.Nazwa</td>
                <td>@mecz.Gospodarz</td>
                <td>@mecz.Gosc</td>
                <td>@mecz.SedziaI?.Imie @mecz.SedziaI?.Nazwisko</td>
                <td>@mecz.SedziaII?.Imie @mecz.SedziaII?.Nazwisko</td>
                <td>@mecz.SedziaSekretarz?.Imie @mecz.SedziaSekretarz?.Nazwisko</td>
               

            </tr>
        }
    </tbody>
</table>
