@model IEnumerable<Sedziowanie.Models.Mecz>


<h2>Lista Meczów</h2>

<table class="table table-bordered text-center">
    <thead class="thead-softgray">
        <tr>
            <th>Numer Meczu</th>
            <th>Data</th>
            <th>Rozgrywki</th>
            <th>Gospodarz</th>
            <th>Gość</th>
            <th>Sędzia I</th>
            <th>Sędzia II</th>
            <th>Sędzia Sekretarz</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var mecz in Model)
        {
            <tr>
                <td>@mecz.NumerMeczu</td>
                <td>@mecz.Data.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@mecz.Rozgrywki?.Nazwa</td>
                <td>@mecz.Gospodarz</td>
                <td>@mecz.Gosc</td>
                <td>
                    @mecz.SedziaI?.Imie<br />
                    @mecz.SedziaI?.Nazwisko
                </td>
                <td>
                    @mecz.SedziaII?.Imie<br />
                    @mecz.SedziaII?.Nazwisko
                </td>
                <td>
                    @mecz.SedziaSekretarz?.Imie<br />
                    @mecz.SedziaSekretarz?.Nazwisko
                </td>
               

            </tr>
        }
    </tbody>
</table>
