@model IEnumerable<Sedziowanie.Models.Sedzia>

@{
    ViewData["Title"] = "Lista Sędziów";
}


<h2>Lista Sędziów</h2>

<table class="table table-bordered text-center">
    <thead class="thead-softgray">
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Klasa</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Opcje</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var sedzia in Model)
        {
            <tr>
                <td>@sedzia.Imie</td>
                <td>@sedzia.Nazwisko</td>
                <td>@sedzia.Klasa</td>
                <td>@sedzia.Telefon</td>
                <td>@sedzia.Email</td>
                <td>
                    <a asp-action="MeczeSedziego" asp-route-sedziaId="@sedzia.Id" class="btn btn-primary">Zobacz Mecze</a>
                   
                </td>

            </tr>
        }
    </tbody>
</table>
