@model IEnumerable<Sedziowanie.Models.Niedyspozycja>

@{
    ViewData["Title"] = "Lista Niedyspozycji";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered text-center">
    <thead class="thead-softgray">
        <tr>
            <th>Imię Sędziego</th>
            <th>Nazwisko Sędziego</th>
            <th>Data Początku</th>
            <th>Data Końca</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var niedyspozycja in Model)
        {
            <tr>
                <td>@niedyspozycja.Sedzia?.Imie</td>
                <td>@niedyspozycja.Sedzia?.Nazwisko</td>
                <td>@niedyspozycja.Poczatek.ToShortDateString()</td>
                <td>@niedyspozycja.Koniec.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
